# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Ben Zhang
  email = benzhangniu@gmail.com
  signingkey = CDDDD6CB86CA1AB78094EA00AF62883B66024554
[gpg]
  program = gpg2
[commit]
  gpgsign = true
[alias]
  pushsup = !git push --set-upstream origin `git symbolic-ref --short HEAD`
  s = status
  co = checkout
  d = diff
  b = branch
  spp = subtree push --prefix #dist origin gh-pages
  c = commit
