[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/bundle/vim-rspec"]
	path = vim/.vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "vim/.vim/bundle/vim-instant-markdown"]
	path = vim/.vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "vim/.vim/bundle/vim-pug"]
	path = vim/.vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "zsh/.oh-my-zsh"]
  path = zsh/.oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/.vim/bundle/swift.vim"]
	path = vim/.vim/bundle/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/CoVim"]
	path = vim/.vim/bundle/CoVim
	url = git://github.com/FredKSchott/CoVim.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/.vim/bundle/vim-nix"]
	path = vim/.vim/bundle/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux
